<app-header-simple [title]="subpage"></app-header-simple>

<ion-content [fullscreen]="true">
	<ion-header class="ion-no-border" collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{ subpage }}</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-row class="ion-justify-content-center">
		<ion-col size="12" class="ion-justify-content-center ion-text-center">
			<h2>Team Player</h2>
			<!-- TODO weryfikacja stanu autentykacji -->
			<h5>Aplikacja do zarządzania Twoją organizacją</h5>
		</ion-col>
		<ng-container>
<!--		<ng-container *ngIf="!userLoggedIn">-->
			<ion-col size="4" class="ion-justify-content-end ion-text-end">
				<ion-button (click)="goToLoginPage()" shape="round" color="green">Logowanie</ion-button>
			</ion-col>
			<ion-col size="4" class="ion-justify-content-start ion-text-start">
				<ion-button (click)="goToRegisterPage()" shape="round" color="green">Rejestracja</ion-button>
			</ion-col>
		</ng-container>
	</ion-row>
</ion-content>
