<form (ngSubmit)="saveAssignments()" [formGroup]="assignmentForm">
	<ion-row>
		<ion-col size="12">
			<ion-item lines="none">
				<ion-label><h3>Przypisz zadanie do:</h3></ion-label>
			</ion-item>
			<ion-list>
<!--				<ng-container *ngIf="assignedUsers?.length && editAssignedUsersState;-->
<!--								else emptySelectList">-->
					<ng-container *ngFor="let assignedUsr of assignmentForm.controls;
									let index = index">
						<ion-item lines="full">
							<ion-label class="display-none">Wybierz użytkownika</ion-label>

							<ion-select placeholder="Wybierz użytkownika {{assignedUsr.value}}"
							            okText="Save"
							            [formControlName]="index"
							            [value]="assignedUsr.value"
							            (ionChange)="assignUser($event, index)"
							            appIonSelectNoCaret>
								<ion-select-option
									*ngFor="let member of (teamList$ | async)"
									[value]="member.id"
									[disabled]="isUserAssigned(member.id)">
											{{ member.username }}
								</ion-select-option>
							</ion-select>
							<ion-button class="remove-assignment-btn ion-no-margin" [ngClass]="{'has-value': assignedUsr.value}"
							            slot="end" shape="round" fill="clear" color="danger"
							            (click)="removeUserFromTask(assignedUsr.value, index)">
								<ion-icon name="close-outline"></ion-icon>
							</ion-button>
						</ion-item>
					</ng-container>
<!--				</ng-container>-->
				<ion-item lines="full" [hidden]="assignmentForm.controls.length >= (teamList$ | async).length">
					<ion-button class="add-user-select-btn" color="deep-danger" fill="outline" shape="round"
					            (click)="addOneMoreEntry()" type="button">
						<ion-icon name="person-add-outline"></ion-icon>
						Add next user
					</ion-button>
				</ion-item>
			</ion-list>
		</ion-col>
		<ion-col size="6" class="ion-padding ion-text-center">
			<ion-button color="deep-green" shape="round" fill="clear" (click)="dismiss()">
				Cancel
			</ion-button>
		</ion-col>
		<ion-col size="6" class="ion-padding ion-text-center">
			<ion-button color="deep-green" shape="round" type="submit">
				Save
			</ion-button>
		</ion-col>
	</ion-row>
</form>

<ng-template #emptySelectList>
	<ng-container *ngTemplateOutlet="userSelect"></ng-container>
	<ng-container *ngTemplateOutlet="userSelect"></ng-container>
	<ng-container *ngTemplateOutlet="userSelect"></ng-container>
</ng-template>

<ng-template #userSelect>
	<ion-item>
		<ion-label class="display-none">Wybierz użytkownika</ion-label>
		<ion-select placeholder="Wybierz użytkownika" okText="Zatwierdź" cancelText="Anuluj"
		            interface="alert"
		            (ionChange)="assignUser($event, 1)">
			<ion-select-option
				*ngFor="let member of teamList$ | async"
				[value]="member.id" [disabled]="isUserAssigned(member.id)">
				{{ member.username }}
			</ion-select-option>
		</ion-select>
	</ion-item>
</ng-template>