<ion-row>
	<ion-col size="12">
		<ion-item lines="none">
			<ion-label><h3>Przypisz zadanie do:</h3></ion-label>
		</ion-item>
		<ion-list>
			<ion-item>
				<ion-label class="display-none">Wybierz użytkownika</ion-label>
				<ion-select placeholder="Wybierz użytkownika" okText="Zatwierdź" cancelText="Anuluj"
				            interface="alert"
				            (ionChange)="assignUser(0, $event)">
					<ion-select-option
						*ngFor="let member of teamList$ | async"
						[value]="member.id" [disabled]="isUserAssigned(member.id)">
						{{ member.name }}, {{ member.description }}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="display-none">Wybierz użytkownika</ion-label>
				<ion-select placeholder="Wybierz użytkownika" okText="Zatwierdź" cancelText="Anuluj"
				            interface="alert"
				            (ionChange)="assignUser(1, $event)">
					<ion-select-option
						*ngFor="let member of teamList$ | async"
						[value]="member.id" [disabled]="isUserAssigned(member.id)">
						{{ member.name }}, {{ member.description }}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="display-none">Wybierz użytkownika</ion-label>
				<ion-select placeholder="Wybierz użytkownika" okText="Zatwierdź" cancelText="Anuluj"
				            interface="alert"
				            (ionChange)="assignUser(2, $event)">
					<ion-select-option
						*ngFor="let member of teamList$ | async"
						[value]="member.id" [disabled]="isUserAssigned(member.id)">
						{{ member.name }}, {{ member.description }}
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>
	</ion-col>
	<ion-col size="6" class="ion-padding ion-text-center">
		<ion-button color="deep-green" shape="round" fill="clear" (click)="dismiss()">
			Anuluj
		</ion-button>
	</ion-col>
	<ion-col size="6" class="ion-padding ion-text-center">
	<ion-button color="deep-green" shape="round" (click)="saveAssignments()">
			Zapisz
		</ion-button>
	</ion-col>
</ion-row>