<ng-container *ngIf="(task$ | async) as task">
	<ion-header class="ion-padding-start">
		<app-header-simple [title]="'Task: ' + task.title" [arrowBack]="true"></app-header-simple>
	</ion-header>
	<ion-content>
		<ion-row class="ion-padding ion-justify-content-center">
			<ion-col size="12" class="ion-padding-bottom">
				<small>Task:</small>
				<h2 class="ion-no-margin">
					<ion-input [value]="task.title"
					           placeholder="Enter task title here"
					           maxlength="255"
					           minlength="1">
					</ion-input>
				</h2>

			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<ion-item class="ion-no-padding"
				          lines="full"
				          type="button"
				          (click)="showDatePickerForTask(task)">
					<ion-label class="ion-padding-start">Deadline:</ion-label>
					<ion-text class="ion-padding-end">
						{{ task.deadline | date:'dd.MM.yyyy, HH:mm' }}
					</ion-text>
				</ion-item>
				<ion-item class="ion-no-padding"
				          lines="full"
				          type="button">
					<ion-label class="ion-padding-start">Status:</ion-label>
					<ion-select [value]="task.status"
					            class="ion-padding-end"
					            (ionChange)="updateStatus()"
					            appIonSelectNoCaret>
						<ion-select-option
							*ngFor="let status of taskStatusKeys"
		                    [value]="status">
								{{taskLabels[status]}}
						</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-item class="ion-no-padding"
				          lines="full"
				          type="button"
				          (click)="assignUsersToTask(task)">
					<ion-label class="ion-padding-start">Assigned users:</ion-label>
					<div class="ion-padding-vertical"
					     *ngIf="task.assignees?.length">
						<p class="ion-padding-end"
						   *ngFor="let user of task.assignees">
							{{ user.username }}
						</p>
					</div>
					<ion-text class="ion-padding-end" *ngIf="!task.assignees?.length">None</ion-text>
				</ion-item>
			</ion-col>
			<ion-col size="12">
				<ion-item class="ion-no-padding"
				          lines="none"
				          type="button"
				          (click)="setFocusOnDescriptionTextarea()">
					<ion-label class="ion-padding-horizontal">Description:</ion-label>
				</ion-item>
				<form (ngSubmit)="saveTaskDescription()" [formGroup]="taskContentFormGroup">
					<ion-item class="ion-no-padding" lines="full">
						<ion-textarea class="ion-padding-horizontal ion-no-margin"
						              maxlength="255"
						              formControlName="content"
						              autoGrow="true"
						              placeholder="Enter any description here..."
						              (ionInput)="setDescriptionChangedFlag()"
						              #taskDescriptionTextarea>
						</ion-textarea>
					</ion-item>
					<ion-item class="ion-no-padding" *ngIf="contentHasChanged$ | async">
						<div slot="end">
							<ion-button fill="clear"
							            shape="round"
							            type="button"
							            (click)="clearTaskDescription()">
								Clear all
							</ion-button>
							<ion-button color="deep-green"
							            shape="round"
							            type="submit">
								Save
							</ion-button>
						</div>
					</ion-item>
				</form>
			</ion-col>
			<ion-col size="12">
				<ion-item class="ion-no-padding" lines="full">
					<ion-label class="ion-padding-start">Created at:</ion-label>
					<ion-text class="ion-padding-end">{{ task.createdAt | date:'dd.MM.yyyy, HH:mm' }}</ion-text>
				</ion-item>
			</ion-col>


		</ion-row>
	</ion-content>
</ng-container>