<ng-container *ngIf="(task$ | async) as task">
	<ion-header>
		<app-header-simple [title]="'Task: ' + task.title" [arrowBack]="true"></app-header-simple>
	</ion-header>
	<ion-content>
		<form [formGroup]="taskFormData">
		<ion-row class="ion-padding ion-justify-content-center">
			<ion-col size="12" class="ion-padding-bottom">
				<app-title-input formControlName="title" (valueSubmitted)="patchTitleValue()"></app-title-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
<!--				<ion-item class="ion-no-padding"-->
<!--				          lines="full"-->
<!--				          type="button"-->
<!--				          (click)="showDatePickerForTask(task)">-->
<!--					<ion-label class="ion-padding-start">Deadline:</ion-label>-->
<!--					<ion-text class="ion-padding-end">-->
<!--						{{ task.deadline | date:'dd.MM.yyyy, HH:mm' }}-->
<!--					</ion-text>-->
<!--				</ion-item>-->

				<app-date-select-field [label]="'Deadline'" formControlName="deadline"></app-date-select-field>
				<app-simple-select formControlName="status" [options]="taskStatusKeys" [optionLabels]="taskLabels" [label]="'Status'"></app-simple-select>
<!--				<ion-item class="ion-no-padding"-->
<!--				          lines="full"-->
<!--				          type="button">-->
<!--					<ion-label class="ion-padding-start">Status:</ion-label>-->
<!--					<ion-select [value]="task.status"-->
<!--					            class="ion-padding-end"-->
<!--					            (ionChange)="updateStatus($event)"-->
<!--					            appIonSelectNoCaret>-->
<!--						<ion-select-option-->
<!--							*ngFor="let status of taskStatusKeys"-->
<!--		                    [value]="status">-->
<!--								{{taskLabels[status]}}-->
<!--						</ion-select-option>-->
<!--					</ion-select>-->
<!--				</ion-item>-->




				<ion-item class="ion-no-padding"
				          lines="full"
				          type="button"
				          (click)="assignUsersToTask(task)">
					<ion-label class="ion-padding-start">Assigned users:</ion-label>
					<div class="ion-padding-vertical"
					     *ngIf="task.assignees?.length">
						<p class="ion-padding-end"
						   *ngFor="let user of task.assignees">
							{{ user.username }}
						</p>
					</div>
					<ion-text class="ion-padding-end" *ngIf="!task.assignees?.length">None</ion-text>
				</ion-item>

			</ion-col>

			<ion-col size="12" class="remove-top-bottom-padding">
				<app-textarea-input [label]="'Description'" formControlName="content"></app-textarea-input>
			</ion-col>

			<ion-col size="12" class="remove-top-bottom-padding">
				<ion-item class="ion-no-padding" lines="full">
					<ion-label class="ion-padding-start">Creator:</ion-label>
					<ion-text class="ion-padding-end">{{ task.creator?.username || 'Unknown' }}</ion-text>
				</ion-item>
				<ion-item class="ion-no-padding" lines="full" *ngIf="task.createdAt">
					<ion-label class="ion-padding-start">Created at:</ion-label>
					<ion-text class="ion-padding-end">{{ task.createdAt | date:'dd.MM.yyyy, HH:mm' }}</ion-text>
				</ion-item>
			</ion-col>


		</ion-row>
		</form>
	</ion-content>
</ng-container>