<ion-header class="ion-padding-start">
	<app-header-simple title="Create new task" [arrowBack]="true"></app-header-simple>
</ion-header>
<ion-content>
	<form (ngSubmit)="saveTask()" [formGroup]="taskFormGroup">
		<ion-row class="ion-padding ion-justify-content-center">
			<ion-col size="12" class="ion-text-end ion-no-padding ion-padding-horizontal">
				<small>
					<ion-text color="danger">*</ion-text>
					- field required
				</small>
			</ion-col>
			<ion-col size="12" class="ion-padding-bottom">
				<app-title-input [label]="'Task'" formControlName="title" [required]="true"></app-title-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<app-simple-select formControlName="project"
				                   [label]="'Project'"
				                   [options]="userProjects"
				                   [optionLabels]="projectNames"
				                   [placeholder]="'Select project'"
				                   [required]="true"
				></app-simple-select>
				<app-date-select-field [label]="'Deadline'"
				                       formControlName="deadline"
				                       [required]="true"
				></app-date-select-field>
				<app-simple-select formControlName="status"
				                   [label]="'Status'"
				                   [options]="taskStatusKeys"
				                   [optionLabels]="taskLabels"
				                   [placeholder]="'Select status'"
				                   [required]="true"></app-simple-select>
				<app-users-select-field formControlName="assignees"
				                        [label]="'Assign team members'"
				                        [projectId]="taskFormGroup.controls['project'].value.id"
				                        [disabled]="!taskFormGroup.controls['project'].value?.id"
				></app-users-select-field>
			</ion-col>
			<ion-col size="12">
				<app-textarea-input formControlName="content" [label]="'Description'"
				                    [placeholder]="'Enter any description here...'"></app-textarea-input>
			</ion-col>
		</ion-row>
	</form>
</ion-content>
<ion-footer class="ion-text-center ion-padding-bottom ion-no-border">
	<ion-button color="danger" shape="round" [disabled]="!taskFormGroup.valid" (click)="saveTask()">Save</ion-button>
</ion-footer>