.remove-top-bottom-padding {
    padding-top: 0;
    padding-bottom: 0;
}

ion-item {
    ion-checkbox {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .saved {
        ion-label, ion-button {
            opacity: 0.65;
        }
    }
}