<app-header-simple [title]="title"></app-header-simple>

<ion-content *ngIf="(note$ | async) as note">
	<form [formGroup]="noteFormGroup">
		<ion-row class="ion-padding ion-justify-content-center">
			<ion-col size="12" class="ion-padding-bottom">
<!--				TODO get users projects-->
<!--				<app-simple-select [options]="">{{note.project_id.name}}</app-simple-select>-->
				<app-title-input [label]="'Note'" [placeholder]="'Enter note subject'" formControlName="name" [required]="true"></app-title-input>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="note">
			<ion-col size="12">
				<app-users-select-field formControlName="assignees" [projectId]="note.project_id.id"></app-users-select-field>
			</ion-col>
			<ion-col size="12" *ngIf="note$ | async" class="remove-top-bottom-padding">
				<ion-item class="ion-no-padding" lines="full">
					<ion-label class="ion-padding-start">Project:</ion-label>
					<ion-text class="ion-padding-end">{{ (note$ | async).project_id?.name || 'Unknown' }}</ion-text>
				</ion-item>
				<ion-item class="ion-no-padding" lines="full">
					<ion-label class="ion-padding-start">Poster:</ion-label>
					<ion-text class="ion-padding-end">{{ (note$ | async).poster?.username }}</ion-text>
				</ion-item>
			</ion-col>
			<ion-col size="12" *ngIf="isChecklist">
				<h4 class="ion-margin">Checklist:</h4>
				<ng-container *ngFor="let note of note$.value.content">
					<ion-item lines="full" [ngClass]="{'checked': note.checked, 'saved': note.saved }">
						<ng-container *ngIf="note.saved then displayTemplate; else newCheckTemplate"></ng-container>

						<ng-template #displayTemplate>
							<ion-label>
								<ion-checkbox [checked]="note.checked" [(ngModel)]="note.checked" class="ion-no-margin"></ion-checkbox>
								<ion-text class="ion-padding-start">{{ note.label }}</ion-text>
							</ion-label>
						</ng-template>

						<ng-template #newCheckTemplate>
								<ion-checkbox [checked]="note.checked" [(ngModel)]="note.checked" class="ion-no-margin"></ion-checkbox>
								<ion-input [(ngModel)]="note.label" class="ion-margin-start" type="text" placeholder="Nowy punkt">
								</ion-input>
						</ng-template>

						<ion-button (click)="saveNewCheck()" shape="round" fill="clear" color="danger" slot="end" *ngIf="!note.saved && note.label"><ion-icon name="paper-plane" mode="md"></ion-icon></ion-button>
						<ion-button (click)="removeCheck()" shape="round" fill="clear" color="danger" slot="end"><ion-icon name="close"></ion-icon></ion-button>

					</ion-item>
				</ng-container>
				<div class="ion-align-items-end ion-text-end ion-padding-top">
				<ion-button shape="round" (click)="addNewCheckItem()"><ion-icon name="add"></ion-icon> Add  </ion-button>
				</div>
			</ion-col>
		</ion-row>
	</form>


	<br>
	<br>
	<br>
	<br>
		<pre>
	{{ note | json }}</pre>
</ion-content>
