<small *ngIf="label">{{ label }}:</small>
<h2 class="ion-no-margin">
  <ion-input [(ngModel)]="value" (keyup)="activateButtons()" placeholder="Dodaj tytuł zadania..."
             maxlength="255"
             minlength="1">
  </ion-input>
  <ion-item class="ion-no-padding" *ngIf="(buttonsVisible$ | async)">
    <div slot="end">
      <ion-button fill="clear"
                  shape="round"
                  type="button"
                  (click)="clearTitleInput()">
        Wyczyść
      </ion-button>
      <ion-button color="deep-green"
                  shape="round"
                  type="button"
                  (click)="submitValueToParent()">
        Zapisz
      </ion-button>
    </div>
  </ion-item>
</h2>