.task-assign-popover,
.popover-date-picker {
    --width: 80%;
    .popover-content {
        top: 10% !important;
    }
}

.popover-date-picker {
    --height: 250px;

}

.task-assign-popover {
    --height: auto;
}