.popover-date-picker {
    --height: 250px;
    --width: 80%;
    .popover-content {
        top: 10% !important;
    }
}

.task-assign-popover {
    --height: auto;
    --width: 80%;
    .popover-content {
        top: 10% !important;
    }
}

.select-alert .alert-button-group {
    justify-content: space-around !important;
}