ion-content ion-row:last-of-type {
    padding-bottom: 70px;
}

ion-list ion-label {
    span {
        //margin-top: 18px;
        display: block;
    }
}

.task-button {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    --box-shadow: none;

    ion-icon {
        height: 20px;
        width: 20px;
    }
}
