<app-header-simple [title]="title"></app-header-simple>

<ion-content>
	<ion-row>
		<ion-col>
			<ion-list>
				<ion-item *ngFor="let task of tasks$ | async; let index = index" lines="full">
					<ion-checkbox slot="start"></ion-checkbox>
					<ion-label>
						<span>{{ task.title }}</span>
						<ion-text class="ion-padding-end">
							<small>{{ task.deadline | date: 'dd.MM.yyyy, hh:mm' }}</small>
						</ion-text>
					</ion-label>

					<ion-button shape="round" class="task-button ion-no-padding ion-no-margin"
					            (click)="showDatePickerForTask(task)">
						<ion-icon name="calendar-outline"></ion-icon>
					</ion-button>
					<ion-button shape="round" class="task-button ion-no-padding ion-no-margin"
					            (click)="assignUserToTask(task)">
						<ion-icon name="person-add-outline"></ion-icon>
					</ion-button>
					<ion-button shape="round" class="task-button ion-no-padding ion-no-margin"
					            (click)="goToTaskDetails(index)">
						<ion-icon name="chevron-forward-outline" mode="ios"></ion-icon>
					</ion-button>
				</ion-item>
			</ion-list>
		</ion-col>
	</ion-row>
	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="danger" class="side-cta"><ion-icon name="swap-vertical-outline"></ion-icon></ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="deep-danger" class="main-cta">
			<ion-icon name="add-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>
		<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="danger" class="side-cta">
			<ion-icon name="ellipsis-vertical-outline"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top" class="options-fab-list ion-text-start ion-justify-content-start">
			<ion-fab-button color="light-danger"><ion-icon name="checkmark-done-outline"></ion-icon></ion-fab-button>
			<ion-fab-button color="light-danger"><ion-icon name="trash-bin-outline"></ion-icon></ion-fab-button>
<!--			<ion-fab-list side="top" class="ion-text-start ion-justify-content-start">-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Nazwa - alfabetycznie, A-Z-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Nazwa - alfabetycznie, Z-A-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Data zakończenia - od najbliższej-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Data zakończenia - od najdalszej-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Postęp - najmniejszy-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Postęp - największy-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Data utworzenia - od najnowszych-->
<!--				</ion-button>-->
<!--				<ion-button shape="round" color="pastel-green">-->
<!--					Data utworzenia - od najstarszych-->
<!--				</ion-button>-->
<!--			</ion-fab-list>-->
		</ion-fab-list>
	</ion-fab>
</ion-content>